/*
@media screen and (min-width: 320px) and (max-width: 479px) {

}
*/

/*
@media screen and (min-width: 480px) and (max-width: 767px) {
	
	
	.projectlistitem-details h1, .projectlistitem-details h2, .projectlistitem-details h3 {
		width: 80.634146%;
		margin-left: 0%;
	}
	
	.project-details .floatleft {
		float: right;
	}
	.projectlistitem-CAP, .projectlistitem-SS, .projectlistitem-BPS, .projectlistitem-SP, .projectlistitem-PL, .projectlistitem-DR, .projectlistitem-CBF, .projectlistitem-UKC, .projectlistitem-TDG {
		background-image: none;
	}
	
	.portfolio-banner {
		float: none;
		width: 100%;
	}
	
	.portfolio-banner img {
		max-width: 100%;
	}
	
	.project-details {
		width: 100%;
	}
	
	.portfolio-banner .portfolio {
		display: none;
	}
	video {
		max-width: 100%;
	}
	
	input, textarea {
  	width: 55.444444%;
  }

  .form li {
		width: 78.853659%;  	
  }
}
*/

/*
@media screen and (min-width: 768px) and (max-width: 905px) {
	.wrapper {
		width: 93.8%;
		text-align: center;
		margin: 0px auto;
	}
	
	.navigation li {
		margin: 0px;
	}
	
	.breadcrumb { 
		display: block;
	}
	
	.project-details .floatleft {
		margin-right: 1%;
	}
	
	.projectlistitem-details h1, .projectlistitem-details h2, .projectlistitem-details h3 {
		width: 63%; 
		margin-left: 12.5%;
	}
	
	.portfolio-banner img {
		max-width: 100%;
	}
	
	.portfolio li {
		margin-right: 2.5%;
	}
	
	input, textarea {
  	width: 43.444444%;
  }

  .form li {
		width: 68.853659%;  	
  }
	
}
*/

/*
@media screen and (min-width: 906px) and (max-width: 1105px) {
	.wrapper {
		width: 76.8%;
		text-align: center;
		margin: 5px auto;		
	}
	
	.navigation li {
		margin: 0px;
	}
	
	.breadcrumb { 
		display: block;
	}
	
	.project-details .floatleft {
		margin-right: 1%;
	}
	
	.projectlistitem-details h1, .projectlistitem-details h2, .projectlistitem-details h3 {
		width: 63%; 
		margin-left: 12.5%;
	}
	
	.portfolio-banner img {
		max-width: 100%;
	}
	
	.portfolio li {
		margin-right: 2.5%;
	}
	
	input, textarea {
  	width: 45.444444%;
  }

  .form li {
		width: 70.853659%;  	
  }
	
}
*/

/*
@media screen and (min-width: 1106px) {
	.wrapper {
		width: 76.8%;
		text-align: center;
		margin: 5px auto;
	}
}
*/