%headings {
	font-weight: bold;
	margin: 10px 0px 10px 0px;
	padding: 0px 0px 5px 0px;
	border-bottom: dashed 1px $mediumGrey;
}

%projectlistitem {
	width: 99.390244%;
	float: left;
	margin: 0px;
	background-repeat: no-repeat;
}