$white: #FFFFFF;
$black: #000000;
$lighterGrey: #CCCCCC;
$lightGrey: #DDDDDD;
$mediumGrey: #666666;
$darkGrey: #333333;
$darkBlue: #000066;
$red: #961920;

$small: 320px;
$medium: 768px;
$large: 1024px;
$extraLarge: 1280px;
